html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $almond;
  color: $black;
  font-size: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;

  @include font(400);

  &.menu-overlay-active {
    overflow: hidden;
  }

  main {
    position: relative;
    overflow: hidden;
  }
}

svg {
  pointer-events: none;
}
