// Light
@font-face {
  font-family: "Raleway-light";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/raleway-light.eot");
  src: url("/assets/fonts/raleway-light.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/raleway-light.woff") format("woff"),
    url("/assets/fonts/raleway-light.ttf") format("truetype"),
    url("/assets/fonts/raleway-light.svg#raleway-light") format("svg");
}

// Regular
@font-face {
  font-family: "Raleway-regular";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/raleway-regular.eot");
  src: url("/assets/fonts/raleway-regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/raleway-regular.woff") format("woff"),
    url("/assets/fonts/raleway-regular.ttf") format("truetype"),
    url("/assets/fonts/raleway-regular.svg#raleway-regular") format("svg");
}

// Bold
@font-face {
  font-family: "Raleway-bold";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/raleway-bold.eot");
  src: url("/assets/fonts/raleway-bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/raleway-bold.woff") format("woff2"),
    url("/assets/fonts/raleway-bold.ttf") format("truetype"),
    url("/assets/fonts/raleway-bold.svg#raleway-bold") format("svg");
}

// Medium
@font-face {
  font-family: "Raleway-medium";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/raleway-medium.eot");
  src: url("/assets/fonts/raleway-medium.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/raleway-medium.woff") format("woff2"),
  url("/assets/fonts/raleway-medium.ttf") format("truetype"),
  url("/assets/fonts/raleway-medium.svg#raleway-medium") format("svg");
}

// dancing script handwrite Regular
@font-face {
  font-family: "Handwrite";
  font-style: normal;
  font-weight: normal;
  src: url("/src/assets/fonts/dancing-script-regular.eot");
  src: url("/assets/fonts/dancing-script-regular.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/dancing-script-regular.ttf") format("truetype");
}

// dancing script handwrite Regular
@font-face {
  font-family: "Handwrite-bold";
  font-style: normal;
  font-weight: normal;
  src: url("/src/assets/fonts/dancing-script-bold.eot");
  src: url("/assets/fonts/dancing-script-bold.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/dancing-script-bold.ttf") format("truetype");
}
