// Scale In
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  75% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// Fade In
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Fade Out
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Fade In with Slide Up
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Fade In with Slide Down
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-75px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//
@keyframes skewedTopBottom {
  0% {
    opacity: 0;

    @include translate(12vh, -60vh, 0);
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;

    @include translate(0, 0, 0);
  }
}

@keyframes skewedBottomTop {
  0% {
    opacity: 0;

    @include translate(-12vh, 60vh, 0);
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;

    @include translate(0, 0, 0);
  }
}

.animation {
  opacity: 0;

  &.fade-in {
    .in-view & {
      animation: fadeIn .75s .25s ease both;
      transition: all .5s linear;
    }
  }

  .delay-1 {
    animation-delay: .5s;
  }

  .delay-2 {
    animation-delay: .75s;
  }

  .delay-3 {
    animation-delay: 1s;
  }

  .delay-4 {
    animation-delay: 1.25s;
  }

  .delay-5 {
    animation-delay: 1.5s;
  }

  .delay-6 {
    animation-delay: 1.75s;
  }

  .delay-7 {
    animation-delay: 2s;
  }

  &.scale-in {
    .in-view & {
      animation: scaleIn .75s .25s ease both;
      transition: all .5s linear;
    }
  }
}
