.tabs-container {
  position: relative;

  .tabs-content {
    position: relative;
  }
}

.tabs-nav {
  position: relative;
  display: table;
  box-shadow: 0 5px 35px transparentize($dark-grey, .85);
  text-align: center;

  li {
    display: table-cell;

    &:first-child {
      a {
        border-left: 1px solid transparentize($white, .8);
        border-radius: 4px 0 0 4px;
      }
    }

    &:last-child {
      a {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.tabs-link {
  position: relative;
  display: block;
  width: 130px;
  padding-top: 2px;
  background-color: $blue;
  border: 1px solid transparentize($white, .8);
  border-left: 0;
  color: transparentize($white, .4);
  font-size: .875rem;
  letter-spacing: -.3px;
  line-height: 34px;
  text-align: center;
  white-space: nowrap;

  @include font(600);

  @include breakpoint(sm) {
    width: 150px;
    padding-top: 2px;
    font-size: 1rem;
    line-height: 38px;
  }

  @include breakpoint(md) {
    width: 175px;
    padding-top: 3px;
    line-height: 42px;
  }

  @include breakpoint(lg) {
    width: 195px;
    padding-top: 4px;
    line-height: 46px;
  }

  &.active {
    color: $white;
  }
}
