.main-header {
  height: 700px;
  position: relative;

  .title {
    @include font-handwrite(400);
    margin: 0;
    color: $white;
  }

  .subtitle {
    color: $white;
    font-size: 1.25rem;
    letter-spacing: 2px;
  }

  hr {
    border-bottom: 2px solid $white;
    width: 200px;
  }
}
