.divider {
  &.bottom {
    .top-polygon {
      fill: none;
    }

    .bottom-polygon {
      fill: $almond;
    }

    .left-polygon, .right-polygon {
      fill: rgba($white, 0.4)
    }
  }

  &.top {
    .top-polygon {
      fill: $almond;
    }

    .bottom-polygon,
    .left-polygon,
    .right-polygon {
      fill: none;
    }
  }
}

.fancy-divider {
  display: block;

  &.bottom {
    .top-polygon {
      fill: none;
    }
  }

  &.top {
    .top-polygon {
      fill: none;
    }

    .left-bottom-polygon,
    .right-bottom-polygon {
      fill: $dark-milk-coffee;
    }

    .left-top-polygon,
    .right-top-polygon {
      fill: $milk-coffee;
    }
  }
}
