.divider {
  &.bottom {
    .top-polygon {
      fill: none;
    }

    .bottom-polygon {
      fill: $almond;
    }

    .left-polygon, .right-polygon {
      fill: rgba($white, 0.4)
    }
  }

  &.top {
    .top-polygon {
      fill: $almond;
    }

    .bottom-polygon,
    .left-polygon,
    .right-polygon {
      fill: none;
    }
  }
}
