.fullscreen-preview {
  .button-next, .button-prev {
    position: fixed;
    top: 0;
    height: 100%;
    width: 30%;
    z-index: 101;

    &:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0.2rem 0.2rem 0 0;
      top: 50%;
      width: 2rem;
      height: 2rem;
      color: $brown;

      @include breakpoint(md-only) {
        width: 1.5rem;
        height: 1.5rem;
      }

      @include breakpoint(sm-only) {
        width: 1rem;
        height: 1rem;
        border-width: 0.1rem 0.1rem 0 0;
      }
    }
  }

  .button-next {
    right: 0;

    &:after {
      right: 3rem;
      transform: translateY(-50%) rotate(-315deg);

      @include breakpoint(sm-only) {
        right: 1rem;
      }
    }
  }

  .button-prev {
    left: 0;

    &:after {
      left: 3rem;
      transform: translateY(-50%) rotate(-135deg);

      @include breakpoint(sm-only) {
        left: 1rem;
      }
    }
  }

  .image {
    position: relative;

    .image-description {
      position: absolute;
      bottom: 0.5rem;
      padding-left: 0.5rem;
      left: 1rem;
      font-size: 1rem;
      color: $white;
      @include font(300);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        border-style: solid;
        border-width: 0.1rem 0.1rem 0 0;
        width: 1rem;
        height: 1rem;
        transform: rotate(-180deg);
        color: $white;
      }
    }
  }
}
