.section-title {
  font-size: 2.375rem;
  margin-top: 1.5rem;
  @include font(300);
  letter-spacing: -2px;
}

section {
  position: relative;

  .section-icon {
    font-size: 5rem;
    color: $brown;
    position: absolute;
    top: -50px;
    right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &.full-height {
    height: 100vh;
  }

  &.bg-white {
    background: $white;
  }

  &.bg-black {
    background: $black;
  }

  &.bg-almond {
    background: $almond;
  }

  &.bg-light-grey {
    background: $light-grey;
  }

  &.bg-dark-grey {
    background: $dark-grey;
  }

  &.bg-blue {
    background: $blue;
  }

  &.bg-yellow {
    background: $yellow;
  }

  &.bg-green {
    background: $green;
  }

  &.bg-salmon {
    background: $salmon;
  }

  &.bg-almond {
    background: $almond;
  }

  &.bg-blue,
  &.bg-dark-grey {
    .section-title {
      color: $white;
    }
  }
}
