.section-title {

  h2 {
    font-size: 2.375rem;
    margin-top: 1.5rem;
    @include font(300);
    letter-spacing: -2px;
  }

  .section-icon {
    font-size: 5rem;
    color: $brown;
    position: absolute;
    top: -50px;
    right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  position: relative;
  min-height: 500px;

  .divider {
    position: absolute;
    width: 100%;
    height: 200px;

    &.bottom {
      bottom: 0;
      left: 0;
    }

    &.top {
      top: 0;
      left: 0;
    }
  }

  .bg {
    &:after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(101deg, rgba(249, 154, 172, 0.65) 0%, rgba(50, 190, 255, 0.71) 100%);
      background-blend-mode: screen;
    }
  }

  &.full-height {
    height: 100vh;
  }

  &.bg-white {
    background: $white;
  }

  &.bg-black {
    background: $black;
  }

  &.bg-almond {
    background: $almond;
  }

  &.bg-light-grey {
    background: $light-grey;
  }

  &.bg-dark-grey {
    background: $dark-grey;
  }

  &.bg-blue {
    background: $blue;
  }

  &.bg-yellow {
    background: $yellow;
  }

  &.bg-green {
    background: $green;
  }

  &.bg-salmon {
    background: $salmon;
  }

  &.bg-almond {
    background: $almond;
  }

  &.bg-blue,
  &.bg-dark-grey {
    .section-title {
      color: $white;
    }
  }
}
